* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.flexbox1 {
    display: flex;
    height: 50px;
}

.sub-flex1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: lightpink;
}

.item1 {
    color: white;
    background-color: black;
}

.sub-flex2 {
    width: 200px;
    background-color: lightblue;
}

.flexbox2 {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.sub-flex3 {
    width: 100px;
    background-color: lightpink;
}

.sub-flex4 {
    width: 200px;
    background-color: lightblue;
}
.sub-row {
    display: flex;
    justify-content: space-between;
}

.row2 {
    color: white;
    background-color: black;
}


.container1 {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 400px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 20px;
}



.inbox-email {
    font-size: 14px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.email {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    
}
.sender-picture-container {
    margin-right: 10px;
  }

.sender-picture {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    display: inline-block;
    vertical-align: super;
}
.email-content {
    flex: 1;
  }
  
  .email-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
  }
  
  .sender-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .send-time {
    font-size: 14px;
    color: rgb(120, 120, 120);
  }

  .subject {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .message {
    color: rgb(120, 120, 120);
  }

  .tweet {
    display: flex;
    flex-direction: row;
    width: 420px;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .profile-picture-column {
    margin-right: 10px;
  }
  

  .profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }

  .tweet-column {
    flex: 1;
  }
  

.tweet-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.tweet-author {
    font-weight: bold;
    margin-right: 5px;
}

.tweet-author-handle {
    color: gray;
}

.tweet-content {
    line-height: 20px;
    margin-bottom: 15px;
}

.video-preview {
    display: flex;
    flex-direction: row;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
    border-radius: 25px;
    overflow: hidden;
}


.thumbnail-column {
    width: 100px;
    height: 100px;
    background-color: rgb(220, 220, 220);
    margin-right: 10px;
}

.video-info-column {
    flex: 1;

}

.video-website {
    color: rgb(111, 111, 111);
    margin-bottom: 3px;
  }
  
  .video-title {
    line-height: 22px;
  }